* {
    font-family: "Roboto", sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;

    margin: 0px;
    padding: 14px 16px;
}

.topnav a:hover {
    background-color: #808080;
}

.topnav .navright {
    float: right;
}

table, td, th {
    border: 1px solid;
}

td, th {
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

th {
    background-color: #808080;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

.chat_bot, .chat_user {
    color: white;
    font-size: 20px;
    max-width: 500px;
    padding: 15px;
    border-radius: 15px;
    border: solid;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat_bot {
    background-color: #808080;
}

.chat_user {
    float: right;
    
    background-color: #43b4d3;
}

#chat_screen {
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    max-width: 60%;
    justify-content: center;
    overflow: auto;
    height: 80vh;
}

#chat_screen div {
    display: inline-block;
    width: 100%;
}

#chat_box {
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    max-width: 60%;
    height: 5vh;
    justify-content: center;
}

#chat_box textarea {
    height: 100%;
    width: 78%;
    font-size: 18px;
    border: solid;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
}

#chat_box button {
    width: 12%;
    height: 10vh;
    background-color: #43b4d3;
    float: right;
    border: solid;
    border-color: black;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}