* {
    font-family: "Roboto", sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a, h1 {
    float: left;
    display: block;
    color: #f2f2f2;

    font-size: 20px;
    text-align: center;
    text-decoration: none;

    margin: 0px;
    padding: 14px 16px;
}

.topnav h1 {
    justify-content: center;
}

.topnav .navright {
    float: right;
}
