{% extends "main.html" %}
{% block content %}
<form action="{{url_for('user_chat')}}" method="POST">
	<textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
	<button type="submit">Send</button>
</form>
{% endblock %}