{% extends "main.html" %}

{% block header %}
<h1>{{ session["uname"] }}</h1>
{% endblock %}

{% block content %}
<form action="{{url_for('user_chat')}}" method="POST">
	<textarea id="chat" name="chat" rows="4" cols="50"></textarea>
	<button type="submit">Send</button>
</form>
{% endblock %}