{% extends "main.html" %}

{% block header %}
<h1>{{ session["uname"] }}</h1>
{% endblock %}

{% block content %}
{% for i in message_log %}
	{% if i['role'] == 'assistant' %}
	<p align="left">{{i['content']}}</p>
	{% elif i['role'] == 'user'%}
	<p align="right">{{i['content']}}</p>
	{% endif %}
{% endfor %}
<form action="{{url_for('user_chat')}}" method="POST">
	<textarea id="chat" name="chat" rows="4" cols="50"></textarea>
	<button type="submit">Send</button>
</form>
{% endblock %}