{% extends "main.html" %}

{% block header %}
<h1>Create Team</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <input type="text" placeholder="Team Name" name="team_name" id="team_name" required>
</form>
{% endblock %}