{% extends "main.html" %}

{% block header %}
<h1>Create Team</h1>
{% endblock %}

{% block content %}
<form>
    <input type="text" placeholder="Team Name" name="uname" id="uname" required>
</form>
{% endblock %}