{% extends "main.html" %}


{% block content %}
<form method="POST">
    <input type="text" placeholder="{{old_key}}" size="80" name="key" id="key" />
    <input type="submit" value="Change Key" />
</form>
{% endblock %}