{% extends "main.html" %}

{% block header %}
<h1>Login</h1>
{% endblock %}

{% block content %}
<form action="{{url_for('index')}}" method="POST">
	<input type="text" placeholder="Username" name="uname" id="uname" required>
	<input type="password" placeholder="Password" name="pword" id="pword" required>
	<br>
	<input type="text" placeholder="GPT-key" name="gptkey" id="gptkey" size="46" required>
	<button type="submit">Login</button>
</form>
{% endblock %}