{% extends "main.html" %}

{% block content %}
<form method="POST">
    <input type="submit" name="gpt_key" value="Manage GPT Key">
    <br>

    <input type="submit" name="create_team" value="Create Team">
    <br>

    <input type="submit" name="create_user" value="Create User">
</form>

{% endblock %}