{% extends "main.html" %}

{% block content %}
<form method="POST">
    <input type="submit" name="create_team" value="Create Team">
    <br>

    <input type="submit" name="create_user" value="Create User">
</form>
<a href="{{url_for('past_chat', chat_id='1')}}">Past Chat</a>

{% endblock %}